<a href="/boards" class="cover-page logo">
  <%= render "layouts/logo" %>
</a>
<div class="cover sign-up">
  <h1> Login to Plan-to-fix</h1>
  <form action="/sessions" accept-charset="UTF-8" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <div class="field form-group">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" class="form-control"/>
    </div>
    <div class="field form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control" />
    </div>
    <div class="actions">
      <input type="submit" name="commit" value="Login" class="btn btn-default btn-lg cover-button" />
    </div>
  </form>

</div>
