<a class="logo" href="/"> 
  <ul>
    <li style="color: #AF2424" class="enlarge"><%= "\u25A0" %></li>
    <li style="color: #20211D"><%= "\u25B6" %></li>
    <li style="color: #0F8033" class="enlarge"><%= "\u25A0" %></li>
  </ul>
</a>