<% set_current_board(@board) %>
<div class="col-sm-10 col-sx-12 col-sm-offset-2">
  <div class="row">
    <div class="col-sm-9 col-sx-12">
      <h2>Board: <%= @board.name %></h2>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-sx-12 clearfix">
      <form action="/lists" method="POST" class="form-inline new-list">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="hidden" name="list[board_id]" value="<%= get_current_board["id"] %>">
        <div class="form-group">
          <input type="text" name="list[name]" class="form-control">
        </div>
        <input type="submit" value="Add list", class="btn btn-primary new-list pull-right">
      </form>
    </div>
  </div>
  <div class="list-wrapper">
    <div class="row list-row">
      <%= render partial: "boards/list", collection: @board.lists %>
    </div>
  </div>
</div>