@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700);
@font-face {
  font-family:'Roboto';
  src:font-url('Roboto-Medium.ttf');
  font-weight: bold;
} 
@font-face {
  font-family:'Roboto';
  src:font-url('Roboto-Regular.ttf');
  font-weight: normal;
} 
$input-border-focus: #767171;
$cover-font-color: #F5F6EF;
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$color-red: #AF2424;
$color-green: #0F8033;
$btn-primary-bg: $color-green;
$btn-danger-bg: $color-red;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-colorpicker";
@import "custom_bootstrap";