.logo {
  height: 80px;
  &.cover-page{
    padding: 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.5);
    margin: 20px;
  }
  font-size: 48px;
  ul {
    padding: 0;
    margin-top: -5px;
  }
  li {
    vertical-align: top;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    &.enlarge {
      margin-top: -6px;
      font-size: 80px;
    }
  }
}

.navbar a {
  font-weight: 600;
}

.username {
  padding-left: 15px;
  padding-bottom: 15px;
}

.navbar-brand ul {
  margin: 0;
  margin-top: -25px;
  padding-top: 0;
}

.navbar-brand {
  width: 100%;
}

.logo-text-nav {
  font-size: 2em;
  font-weight: bold;
  padding-left: 18px;
  margin: 0;
  font-family: 'Inconsolata', ;
}

.gspace {
  padding-right: 5px;
}

.logout .gspace {
  padding-right: 8px;
}

@media (min-width: $screen-sm-min) {
  li.logout {
    position: absolute !important;
    bottom: 0 !important;
    width: 100%;
  }

textarea.description {
  height: auto;
}

  .navbar {
    padding: 0;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
  .bg-danger {
    color: white;
    background-color: $color-red;
    margin: 15px;
    padding: 10px;
  }
}

textarea {
  max-width: 100%;
  word-break: break-word;
}
